.App {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.grid-container {
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
}
.day-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: rgba(53, 53, 53, 0.89);
  border: 1px solid rgba(14, 10, 10, 0.082);
  border-radius: 8px;
  padding: 8px;
}
.date:hover {
  cursor: pointer;
}

.day-cell .date.today {
  background: white;
  border-radius: 3px;
  color: black;
}

.day-cell .date.selected {
  background: rgb(12, 12, 12);
  border-radius: 3px;
  color: white;
}

.day {
  font-size: 12px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  background: #fec775;
  padding: 1rem;
  border-radius: 10px;
  width: 320px;
}
.selectedDetails {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #ffe2b7;
  padding: 1rem;
  border-radius: 10px;
  width: 320px;
  height: 70px;
}
.eventHeader {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.eventsText {
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 40px;
  font-size: 13px;
}

.control-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 12px;
}
.footer-area {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 12px;
}

.control-area span {
  font-weight: 200;
}

.month {
  text-transform: uppercase;
  font-size: 15px;
}
.calenderTitle {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.navigationBtnText {
  display: flex;
  align-items: center;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 11px;
}

.btn:hover {
  cursor: pointer;
}
.inline-main-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.inline-setcion {
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
  width: 340px;
  height: 385px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.header {
  background: #fec775;
  border-radius: 10px 10px 0 0;
  text-align: center;
  height: 50px;
  color: rgb(54, 54, 54);
}
.inline-today {
  font-weight: bold;
  color: rgb(54, 54, 54);
  font-size: 18px;
}
.navigationBar {
  height: 35px;
  color: rgba(0, 0, 0, 0.637);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.days-inline {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  text-align: center;
  color: rgba(53, 53, 53, 0.801);
}

.date-view {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-inline-calendar {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 12px;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
}

.date-inline-calendar.inline-today {
  background: #fec775;
  border-radius: 3px;
  border-radius: 50px;
  color: black;
}
.date-inline-calendar.inline-disabled {
  color: rgba(53, 53, 53, 0.479);
}

.day-cell .date-inline-calendar.selected {
  background: rgb(12, 12, 12);
  border-radius: 3px;
  color: white;
}

.years_card {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: white;
  width: 340px;
  height: 305px;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
}
.year-selector {
  display: flex;
  align-items: center;
}
.year-selector:hover {
  cursor: pointer;
  color: black;
}
.years-selector-icon {
  font-size: 12px;
  margin-left: 4px;
  height: 12px;
  margin-bottom: 6px;
  font-weight: bold;
}

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 10px 0px 10px;
}

.closeBtn {
  font-size: 18px;
  color: rgb(65, 65, 65);
  width: 15px;
  height: 15px;
}

.closeBtn:hover {
  cursor: pointer;
  color: #000000;
}
.calendar-nav-today {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBtnPrev {
  border: 1px solid rgba(0, 0, 0, 0.637);
  font-size: 13px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 14px;
  margin-right: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.637);
  background: transparent;
}

.today-inline {
  font-size: 13px;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.637);
}

.today-inline:hover {
  cursor: pointer;
  color: black;
}

.navBtnNext {
  border: 1px solid rgba(0, 0, 0, 0.637);
  font-size: 13px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 14px;
  margin-left: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.637);
  background: transparent;
}

.navBtnPrev:hover {
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background: black;
}

.navBtnNext:hover {
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background: black;
}

.inline-days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.637);
}

.progressText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000000a4;
  margin-top: 40px;
}
.date-input-container {
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
  width: 340px;
  height: 120px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
}
.date-input-section {
  color: rgba(0, 0, 0, 0.637);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  background: white;
}
.input-title {
  margin-top: 5px;
}
.input-section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.date-input-month {
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.363);
  text-align: center;
  width: 50px;
  height: 25px;
}
.date-input-year {
  width: 50px;
  height: 25px;
  margin-left: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.363);
}
.date-input-month:focus {
  outline: none;
}
.date-input-year:focus {
  outline: none;
}
.date-input-month::placeholder {
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.301);
}
.date-input-year::placeholder {
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.301);
}
.goBtnBlocked {
  cursor: not-allowed;
  background: #fec775;
  border: #fec775;
  border-radius: 3px;
  margin-left: 10px;
  width: 50px;
  height: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.3;
}
.goBtn {
  background: #fec775;
  border: #fec775;
  border-radius: 3px;
  margin-left: 10px;
  width: 50px;
  height: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
}
.goBtn:hover {
  cursor: pointer;
  color: white;
  background: black;
  border: 1px solid black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.year-listing {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  height: 200px;
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
}
.year-item {
  padding: 3px;
}
.year-item:hover {
  color: white;
  background: black;
  cursor: pointer;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #fec775;
}
.year-item.currentYear {
  background: #fec775;
  font-weight: bold;
  color: black;
  border-radius: 4px;
}
.inline-back {
  display: flex;
  align-items: center;
}
.inline-back:hover {
  cursor: pointer;
  color: black;
}
.error {
  color: red;
  margin-top: 5px;
  font-size: 13px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center;
  position: absolute;
}
